.col-md-12
	.thumbnail
		.row
			if (deal.website != null && deal.website != "") || (deal.contact_number != null && deal.contact_number != "") || (deal.contact_number != null && deal.contact_number != "") || (deal.contact_email != null && deal.contact_email != "")
				.col-md-6
					.caption.text-center
						h1.hotdeal_busname= deal.deal_name
							br
							small.hotdeal_dealname= "By "+deal.business_name
			else
				.col-md-12
					.caption.text-center
						h1.hotdeal_busname= deal.deal_name
							br
							small.hotdeal_dealname= "By "+deal.business_name
			if (deal.website != null && deal.website != "") || (deal.contact_number != null && deal.contact_number != "") || (deal.contact_number != null && deal.contact_number != "") || (deal.contact_email != null && deal.contact_email != "")
				.col-md-4.pull-right
					table.table.table-hover.text-center.contact_border
						tr
							th(colspan='2').text-center Contact Details
						
						if deal.contact_number != null && deal.contact_number != ""
							tr
								td
									.glyphicon.glyphicon-earphone
								td
									p= deal.contact_number
						
						if deal.contact_email != null && deal.contact_email != ""
							tr
								td
									.glyphicon.glyphicon-envelope
								td
									a(href='mailto:'+deal.contact_email+'?Subject=Bartercard%20-%20Hotdeal%20for%20'+deal.deal_name, target='_top')= deal.contact_email

						if deal.website != null && deal.website != ""
							tr
								td
									.glyphicon.glyphicon-briefcase
								td
									if(deal.website.length > 46)
										a(href=deal.website) See Site
									else
										a(href=deal.website)= deal.website

						if deal.contact_address != null && deal.contact_address != ""
							tr
								td
									.glyphicon.glyphicon-home
								td
									p= deal.contact_address

		h3.text-center.hotdeal_expires(style='margin-left:10px')= 'Expires: ' + deal.expires.toDateString()

		if deal.desc != null && deal.desc != ""
			p.text-center
				i= deal.desc

		if deal.has_image
			.deal_img(style='background-image:url("/uploads/'+deal.id+'.'+deal.file_type+'")')
		else
			.deal_img(style='background-image:url("/images/no_image.png")')
		.row
			.col-md-3.col-md-offset-1
				a.btn.btn-block.btn-social.btn-facebook(id='facey'+deal.id, href="")
					i.fa.fa-facebook
					="Post to Facebook"
			.col-md-4

			.col-md-3
				a.btn.btn-block.btn-social.btn-twitter(id='twitter'+deal.id, href="")
					i.fa.fa-twitter
					="Tweet This"

		script(type='text/javascript').
			var val = #{deal.id};
			var furl = "http://www.facebook.com/share.php?u='"+location.href+"deal/#{deal.id}'&t=Bartercard Hot Deals #{deal.deal_name}";
			var turl = "http://twitter.com/home?status=Bartercard Hot Deals #{deal.deal_name} see here: "+location.href+"deal/#{deal.id}";
			$("#facey#{deal.id}").attr("href",furl);
			$("#twitter#{deal.id}").attr("href",turl);

